table.calendar div {
    display: inline-block;
    padding: 0px 0px 0px 20px;
}

.calendar tr, .calendar td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 100px;
    padding: 20px 0px 0px 5px;
    border-radius: 6px;
}

td.conflict {
    background-color: #fa8072;
}

td.conflict:hover {
    background-color: #ff6347;
}

td.warning {
    background-color: #ffffe0;
}

td.warning:hover {
    background-color: #fafad2;
}

td.conflict-free {
    background-color: #e0e0e0;
}

td.conflict-free:hover {
    background-color: #e9e9e9;
}

.infolist {
    width: 98%;
    height: 98%;
    margin: auto;
    font-size: 13px;
    border: 0;
}

.infolist tr, .infolist td {
    border: 0;
}

.infolist th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.infolist td {
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.conflict {
    position: relative;
    background-color:#ffc0c0;
    height: 50px;
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
}

.entry {
    font-weight: bold;
}

.btn-message {
    position: absolute;
    right: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}

.clearfix {
  margin: 15px;
}