<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}HOPLA{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="container">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="{% url 'home' %}">HOPLA</a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center
          mb-md-0"></ul>
        {% if user.is_authenticated %}

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.first_name }} {{ user.last_name }}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'home'%}">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'calendar'%}">Kalender</a></li>
            <li><a class="dropdown-item" href="{% url 'vacation_new'%}">Urlaub beantragen</a></li>
            <li><a class="dropdown-item" href="{% url 'vacations_overview'%}">Urlaubsanträge</a></li>
              {% if user.role == 'HODiv' %}
            <li><a class="dropdown-item" href="{% url 'teams_edit'%}">Teams bearbeiten</a></li>
              {% endif %}
            <li><a class="dropdown-item" href="{% url 'user_info_change' user.id %}">Account bearbeiten</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change'%}">Passwort ändern</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </div>
        {% else %}
        <div class="text-end">
          <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">
            Log In</a>
          <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</div>
{% block extrascripts %}
{% endblock extrascripts %}
</body>
</html>