{% extends "base.html" %}
{% load static %}
{% block title %}HOPLA - Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <p>
        Hallo {{ user.first_name }} {{ user.last_name }}, willkommen auf der Homepage des Urlaubsvertretungsplaners HOPLA! <br>
    </p>
    <p>
        {% if conflicts_str|length == 0 %}
            Es bestehen keine Konflikte bei der Urlaubsplanung.
        {% else %}
            <h2>{{ conflicts_str|length }} Konflikt(e) gefunden (Template-Version):</h2><br><br>
            {% for conflict in conflicts_str %}
                {% for number, date_team in conflict.items %}
                    {% for date, team_att in date_team.items %}
                        {% for team, att in team_att.items %}
                            {% for act, min in att.items %}
                                <h4>{{ number }}: Am <b>{{ date|date:"d.m.Y" }}</b> ist die Anwesenheit in <b>{{ team }}</b> lediglich <b>{{ act }}%</b>, aber <b>{{ min }}%</b> sind gefordert.</h4><br>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <p>
                <h2><span id="count"></span> Konflikte gefunden (JS-Version): </h2>
            </p>

            <span id="conflicts">
                <span id="conflict0" class="conflict">
                    Am <span id="date0"></span> ist in Team <span id="team0"></span> die Anwesenheit nur
                    <span id="att0"></span> %, soll aber <span id="min_att0"></span> % sein.<br>
                </span>
            </span>
        {% endif %}
    </p>

{% else %}
  <p>Sie sind nicht eingeloggt.</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}

{% block extrascripts %}
    <script>
        var conflictsStr = "{{ conflicts|escapejs }}";

    </script>
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/pages_homepage.js' %}"></script>
{% endblock extrascripts %}