{% extends "base.html" %}

{% block title %}HOPLA - Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <p>
        Hallo {{ user.first_name }} {{ user.last_name }}, willkommen auf der Homepage des Urlaubsvertretungsplaners HOPLA! <br>
    </p>
    <p>
        {% if conflicts|length == 0 %}
            Es bestehen keine Konflikte bei der Urlaubsplanung.
        {% else %}
            {{ conflicts|length }} Konflikt(e) gefunden:<br><br>
            {% for conflict in conflicts %}
                {% for number, date_team in conflict.items %}
                    {% for date, team_att in date_team.items %}
                        {% for team, att in team_att.items %}
                            {% for act, min in att.items %}
                                {{ number }}: Am <b>{{ date|date:"d.m.Y" }}</b> ist die Anwesenheit in <b>{{ team }}</b> lediglich <b>{{ act }}%</b>, aber <b>{{ min }}%</b> sind gefordert. <br>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

        {% endif %}
    </p>
{% else %}
  <p>Sie sind nicht eingeloggt.</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}